.projects {
    display: grid;
    width: 90%;
    place-content: center;
    align-self: start;
}
.list {
    font-size: 18px;
    margin-bottom: 25px;
}
.proj_img{
    display: grid;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    place-content: center;
    background-size:contain;
    background-position: center;
    margin-bottom: 20px;
    z-index: 1000;
    border-radius: 25px;
    box-shadow: 0 16px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 1px solid #3695e6; */
    
}
#homepage {
    
    background-image: url('/photos/ufund-homepage.png');
    width: 960px;
    height: 474px;

}
#enotifs {
    
    background-image: url('/photos/email-notif.png');
    width: 960px;
    height: 500px;

}
#chatbot {
    
    background-image: url('/photos/chatbot.png');
    width: 834px;
    height: 300px;

}
#admin-metrics {
    
    background-image: url('/photos/admin metrics.png');
    width: 900px;
    height: 500px;

}

#MS-output {
    
    background-image: url('/photos/MS output.png');
    width: 600px;
    height: 490px;
    margin-bottom: 50px;
    border-radius: 5px;
}
#MS-code1{
    background-image: url('/photos/MS code 1.png');
    width: 560px;
    height: 500px;
    border-radius: 5px;
}
#MS-code2{
    background-image: url('/photos/MS code 2.png');
    width: 560px;
    height: 500px;
    border-radius: 5px;
}
#MS-code3{
    background-image: url('/photos/MS code 3.png');
    width: 560px;
    height: 500px;
    border-radius: 5px;
}

#working{
    background-image: url('/photos/working.jpeg');
    width: 600px;
    height: 400px;
}
#view{
    background-image: url('/photos/view.jpeg');
    position: relative;
    left: 20%;
    width: 350px;
    height: 400px;
}
#harvey{
    background-image: url('/photos/harvey.jpeg');
    width: 600px;
    height: 400px;
}
#group{
    background-image: url('/photos/group.jpeg');
    width: 600px;
    height: 400px;
}

.img_holder2{
    display: grid;
    width: 90%;
    max-width: 1100px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    left: -10%;
    margin: 0 auto;
    gap: 20px;
    align-items: start;
    align-self: center;
    margin-bottom: 50px;
    /* removed left offset to allow centering */
}

/* Make the children fill their grid cells and keep consistent aspect ratio */
.img_holder2 .proj_img{
    transform: none;
    left: auto;
    width: 100%;
    aspect-ratio: 3 / 2;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.img_holder{
    display: flex;
    position: relative;
    
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    align-self:center;
    left: -33.5%;
    /* margin-bottom: 50px; */
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
h2 {
    font-size: 28px;
    margin-bottom: 15px;
    text-decoration: underline;
}
#mips {
    position: relative;
    left: 7%;
}