
<div class="textbox-title">
  <pre class="harbinger-text">
  
  <div class="initial-command"><app-devtag [data]="pageTitles[0]"></app-devtag> <app-navbar></app-navbar> </div>

  ███████╗ ██████╗ ██╗    ██╗██╗         ██████╗ ██╗      █████╗ ██╗   ██╗    ███████╗ ██████╗ ███████╗████████╗██╗    ██╗ █████╗ ██████╗ ███████╗
  ██╔════╝██╔═══██╗██║    ██║██║         ██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝    ██╔════╝██╔═══██╗██╔════╝╚══██╔══╝██║    ██║██╔══██╗██╔══██╗██╔════╝
  █████╗  ██║   ██║██║ █╗ ██║██║         ██████╔╝██║     ███████║ ╚████╔╝     ███████╗██║   ██║█████╗     ██║   ██║ █╗ ██║███████║██████╔╝█████╗  
  ██╔══╝  ██║   ██║██║███╗██║██║         ██╔═══╝ ██║     ██╔══██║  ╚██╔╝      ╚════██║██║   ██║██╔══╝     ██║   ██║███╗██║██╔══██║██╔══██╗██╔══╝  
  ██║     ╚██████╔╝╚███╔███╔╝███████╗    ██║     ███████╗██║  ██║   ██║       ███████║╚██████╔╝██║        ██║   ╚███╔███╔╝██║  ██║██║  ██║███████╗
  ╚═╝      ╚═════╝  ╚══╝╚══╝ ╚══════╝    ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝       ╚══════╝ ╚═════╝ ╚═╝        ╚═╝    ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝ v 0.1.0

  </pre>


  <app-devtag [data]="pageTitles[1]"></app-devtag>
  <div class="about-text"><app-aboutpage></app-aboutpage></div>

  <app-devtag [data]="pageTitles[2]"></app-devtag>
  <div class="pricing-text"><app-pricingpage></app-pricingpage></div>

</div>

