h1{
    font-size: 28px;
    padding-left: 20px;
    width: 100%;
}
h2{
    font-size: 24px;
    padding-left: 40px;
}
h3{
    font-size: 22px;
    width: 100%;
    padding-left: 60px;
}
h4{
    font-size: 20px;
    padding-left: 80px;
    width: 100%;
}
p{
    font-size: 18px;
    padding-left: 100px;
}