/* You can add global styles to this file, and also import other style files */
* {
    background-color: #142838;
    color: #8ff280;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: rgb(20, 20, 20);
}
html {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

button {
    
    color: #8ff280;
    border: 2px solid #3695e6;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #8ff280;
    border-color: #8ff280;
    color: black;
}

.page-container {
    position: absolute;
    top: 0;
    left: 2%;
    height: 100%;
    width: 98%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #3695e6 transparent;
    
}

.textbox {
    position: relative;
    top: 2.5%;
    top: 2.5%;
    left: 2%;
    display: grid;
    place-content: center;
    width: 96%;
    height: 95%;
    border: 3px solid #3695e6;
    border-radius: 20px;
    background-color: #142838;
    overflow: hidden; 
    scrollbar-width: thin;
}

.textbox p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #8ff280;
}

h1 {
    font-size: 24px;
    position: relative;
    left: 2%;

}

h2 {
    font-size: large;
    position: relative;
    left: 3%;

}
h3 {
    font-size: medium;
    position: relative;
    left: 4%;

}
h4 {
    font-size: small;
    position: relative;
    left: 5%;

}
