.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    /* width: 50vw; */
    height: 80px;
    background-color: transparent;
    background: transparent;
    box-shadow: none;
    position: relative;
    right: 5vw;
    z-index: 500;
    /* border-bottom: 3px solid #3695e6; */
}
.logo {
    /* background-image: url('../../../public/photos/logo.png');
    background-size: cover;
    background-position: center; */
    /* height: 70px;
    width: 70px; */
    position: relative;
    left: 10%;

}
.navbar-buttons{
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 80px;
    background-color: transparent;
    /* right: 2%; */
    /* transform: translateX(-200%); now the reference point is the top right instead of the top left */
    background-color: transparent;
    background: transparent;
    
}
#button1 {
    position: relative;
    right: 40%;

}
#button2 {
    position: relative;
    right: 20%;

}
#button3 {
    position: relative;
    right: 0%;

}

#button4 {
    position: relative;
    right: 0%;
}